:root {
  --shade-50: #f8fafc;
  --shade-100: #f1f5f9;
  --shade-200: #e2e8f0;
  --shade-300: #cbd5e1;
  --shade-400: #94a3b8;
  --shade-500: #64748b;
  --shade-600: #475569;
  --shade-700: #334155;
  --shade-800: #1e293b;
  --shade-900: #0f172a;
  --shade-950: #020617;

  --primary-50: #f5f3ff;
  --primary-100: #ede9fe;
  --primary-200: #ddd6fe;
  --primary-300: #c4b5fd;
  --primary-400: #a78bfa;
  --primary-500: #8b5cf6;
  --primary-600: #7c3aed;
  --primary-700: #6d28d9;
  --primary-800: #5b21b6;
  --primary-900: #4c1d95;
  --primary-950: #2e1065;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  font-size: medium;
  font-weight: bold;
}

input,
select {
  font-size: medium;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: var(--shade-100);
  padding: 0.5rem 1rem;
  border: 0.2rem solid var(--shade-300);
  outline: none;
}

input:focus,
select:focus {
  border-color: var(--shade-400);
}

input[type="submit"],
input[type="button"],
button,
.btn {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 0.2rem solid var(--primary-800);
  transition: all 0.2ss;
  background: var(--primary-600);
  color: var(--shade-100);
  font-size: medium;
  font-weight: bold;
  border-radius: 0.5rem;
  text-decoration: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
button:hover,
button:focus,
.btn:hover,
.btn:focus {
  cursor: pointer;
  background: var(--primary-700);
}

input[type="submit"]:active,
input[type="button"]:active,
button:hover {
  background: var(--primary-800);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 0.5rem;
  border: 0.2rem solid var(--primary-800);
}

td {
  padding: 0.5rem;
  border: 0.2rem solid var(--shade-400);
}

th {
  background: var(--primary-600);
  color: var(--shade-50);
}

tr:nth-child(odd) {
  background: var(--shade-200);
}

h1 {
  margin: 2rem 0;
  text-align: center;
}

a {
  cursor: pointer;
  font-weight: bold;
  color: var(--primary-700);
}

.body--full {
  min-height: 100vh;
}

.body--centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body--colored-primary {
  background: var(--primary-100);
}

.body--colored-shade {
  background: var(--shade-100);
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-700);
  margin-bottom: 3rem;
}

.header__logo {
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  color: var(--shade-50);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header__link {
  color: var(--shade-50);
  font-weight: bold;
  text-decoration: none;
}

.input-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.input-container__label {
  width: 100%;
}

.input-container__input {
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }

  .input-container {
    flex-direction: row;
    align-items: center;
  }

  .input-container__label {
    width: 10rem;
  }
}
